<!doctype html>
<title>Ingress test app</title>
<head>
<link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body style="background: {{ COLOR }};">

<div style="color: #e4e4e4;
    text-align:  center;
    vertical-align:  middle;">
    <img src="{{ IMAGE }}" class="img-fluid">

</div>


<footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">


                        <div class="footer-social-link">
                            <ul>
                                <li>
                                    <a href="https://t.me/RoToRoCloud">
                                        <i class="fa fa-telegram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/groups/9056253/">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://rotoro-cloud.github.io/">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://rotorocloud.slack.com/join/shared_invite/zt-p1gwxtrp-Tb~t4A92KApJyE1zYrORoQ">
                                        <i class="fa fa-slack"></i>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="https://www.facebook.com/groups/2926559220934286">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <div class="section-heading">
                                    <h3>Follow us</h3>
                                    <span class="animate-border border-black"></span>
                                </div>

                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->



</body>
